/* General*/

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'lato', sans-serif;
    background: rgb(240, 236, 201);



}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 45px 0 40px 0;
}

section .heading h2 {
    text-transform: uppercase;
}

section .heading {

    margin-top: 40px;
    text-align: center;
    padding-bottom: 20px;

}


.red-divider {
    width: 100px;
    height: 2px;
    background: rgb(51, 5, 78);
    margin: 0 auto;
    margin-bottom: 20px;
}

/*menu*/

.navbar {


    background: rgb(51, 5, 78);
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;

}

.navbar .navbar-nav {
    display: inline-flex;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;

}

.navbar li a {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: rgb(51, 5, 78) !important;
    background-color: #fff !important;

}




/*about*/

#about {
    background-image: url(ressources/fond-dots.png);
    background-size: cover;
    padding-top: 100px;
}

#about img {
    width: 300px;
    height: 300px;
    border: rgb(255, 166, 0) solid 15px;

}

.profile-picture {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    float: none;


}

#about .heading {
    background: rgb(51, 5, 78);
    border: rgb(255, 166, 0) solid 15px;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    float: none;

}

#about .heading h1 {
    font-size: 30px;
    padding-top: 60px;
    color: #fff;


}

#about .heading h3 {
    color: #fff;

}

#about .heading h2 {
    font-size: 20px;
    margin-top: 35px;
    color: #fff;

}

.button1 {
    width: 200px;
    height: 50px;
    font-size: 15px;
    background: rgb(255, 166, 0);
    border: 1px solid #000;
    display: inline-block;
    margin-top: 20px;
    padding: 3px 50px;
    border-radius: 50px;
    transition: all 0.5s ease-in 0s;

}

.button1:hover {
    background: rgb(240, 236, 201);
    color: rgb(51, 5, 78) !important;
    text-decoration: none;



}

/*Actualité*/
#actualité .heading h2 {
    color: rgb(51, 5, 78);
    margin-bottom: 30px;
   
}

#actualité {
 margin-bottom: -25px;

}

/*skills*/

#skills .progress h5 {
    font-size: 15px;
    color: #333;
    padding-top: 5px;
    padding-left: 10px;

}

#skills .heading h2 {
    
    color: rgb(51, 5, 78);
}

#skills .progress {
    height: 15%;
    margin: 30px 20px;
    backface-visibility: #fff;
    border: rgb(51, 5, 78) solid 1px;
    border-radius: 50px;

}

#skills .progressbar {
    background: rgb(255, 166, 0);


}



/*experiences*/

#experiences {
    background: rgb(51, 5, 78);
}

.white-divider {
    width: 100px;
    height: 2px;
    background: rgb(255, 166, 0);
    margin: 0 auto;
}

#experiences .heading h2 {
    color: rgb(255, 166, 0);
}

.timeline {
    padding: 30px 10px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #333;
    left: 50%;
    margin-left: -2.5px;
}

.timeline>li {
    list-style: none;
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:after {
    clear: both;

}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;

}

.timeline li .timeline-badge {
    color: #333;
    width: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;

}

.timeline-panel-container {
    width: 50%;
    float: left;

}

.timeline-panel-container-inverted {
    width: 50%;
    float: right;

}

.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: white;
}

.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;

}

.timeline-panel :after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid white;
    border-right: 0 solid white;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-panel-container-inverted .timeline-panel :after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3 {
    margin-top: 5px;
}


/*education*/

#education {
    background: rgb(240, 236, 201);

}

#education .heading h2 {
    color: rgb(51, 5, 78);
}

.education-block {
    margin: 0 auto;
    text-align: center;
   
    background: #fff;
    border-radius: 10px;
    border: 2px solid #333;
    margin-bottom: 20px;
}

.education-block h5 {
    margin-top: 15px;
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;

}

.education-block span {
    font-size: 40px;
}

.education-block h3 {
    color: rgb(51, 5, 78);
}

.education-block h4 {
    margin-bottom: 20px;
}

.education-block p {
    font-weight: bold;
    margin-top: 20px;
}

.education-block .red-divider {
    margin-top: 20px;
}
.education-block a{
    
        color: #333;
    
    
}


/*Portfolio*/

#portfolio .heading h2 {
    color: rgb(51, 5, 78);

}

#portfolio .thumbnail img {

    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    transition: 1s;
    transform: scale(-1.-1);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#portfolio .thumbnail img:hover {
    width: 100%;
    height: 100%;
    transition: 1s;
    transform: scale(1.1);
    filter: none;
    -webkit-filter: none;
}

/*footer*/
footer {
    background: #333;
    padding: 20px 0 40px;
}

footer .fa {
    margin: 20px;
    font-size: 30px;
    color: rgb(240, 236, 201);
    height: 30px;
}

footer .fa :hover {
    margin: 20px;
    font-size: 40px;
    color: rgb(51, 5, 78);
    height: 30px;
}

footer h5 {
    color: rgb(240, 236, 201);
    font-weight: normal;

}
footer img{
    width: 100px;
    height: 100px;
    color: rgb(240, 236, 201);
}
/*contact*/

#contact {
    background: rgb(51, 5, 78);
   
}

#contact .heading h2 {
    color: rgb(255, 166, 0);
}


    


/*contact*/
@media screen and (max-width:575px) {


    .timeline-panel h3 {
        font-size: 15px;
    }

    .timeline-panel h4 {
        font-size: 12px;
    }

    #skills .progress h5 {
        font-size: 10px;
       

    }
    .education-block h3{
        font-size: 20px;
    }
}